.App {
  text-align: left;
  background-color: #1f1f38;
  color: white;
  background-image: url(../src/image1.jpg);
}

.App-header {
  background-color: #839ed4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #cacade;
}

.container {
  margin: auto;
  width: 20%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: blue;
}

section > h2 {
  color: white;
  margin-bottom: 3rem;
}
a {
  color: rgb(35, 31, 31);
  transition: all 400ms ease;
}
a:hover {
  color: rgb(193, 9, 28);
}

.btn {
  width: max-content;
  display: inline-block;
  color: rgb(159, 74, 74);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid;
  transition: all 400ms ease;
  background-color: #1f1f38;
}

.btn:hover {
  background-color: rgb(147, 24, 24);
  color: rgb(234, 183, 183);
  border-color: transparent;
}

.Pic {
  display: flex;
  justify-content: left;
  border-radius: 50%;
}
