.App {
  text-align: center;
  /* background-image: url(../src/image3.jpg); */
  font-size: 15px;
  color: white;
}

.App-header {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: right;
  justify-content: right;
  background-image: url(../src/image3.jpg);
  font-size: calc(15px + 6vmin);
  /* color: #cacade; */
}
a:hover {
  color: rgb(246, 245, 249);
  background-color: rgb(201, 225, 97);
}

.btn {
  width: max-content;
  display: inline-block;
  /* color: rgb(254, 251, 251); */
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* border: 1px solid; */
  transition: all 400ms ease;
  background-color: #1f1f38;
  font-size: 12px;
  gap: 2rem;
}

.btn:hover {
  background-color: rgb(147, 24, 24);
  color: rgb(234, 183, 183);
  border-color: transparent;
}

.btn-2 {
  width: max-content;
  display: inline-block;
  /* color: rgb(254, 251, 251); */
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* border: 1px solid; */
  transition: all 400ms ease;
  background-color: #111181;
  font-size: 12px;
}

.Pic {
  display: flex;
  justify-content: center;
  border-radius: 150%;
}

.Homi {
  display: flex;
  justify-content: space-around;
  padding: 5px 300px 0 300px;
  font-size: 300%;
  align-items: center;
  color: rgb(251, 244, 244);
  background-color: rgb(39, 152, 197);
}

.column {
  float: left;
  width: 33.33%;
  border: 1px solid white;
}
.Social {
  font-size: 30px;
}
