.App {
  align-items: center;

  font-size: 15px;
  color: white;
}

.App-header {
  min-height: 100vh;

  background-image: url(../src/image3.jpg);
  font-size: calc(15px + 6vmin);
}
.First {
  margin-top: 5px;
}
.second {
  margin: 1%;
}
.Headings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 25px;
}

a:hover {
  color: rgb(246, 245, 249);
  background-color: rgb(13, 132, 179);
}

.btn {
  width: max-content;
  display: inline-block;
  color: rgb(19, 19, 17);
  align-items: center;
  padding: 0.75rem 1.2rem;
  border-radius: 1.4rem;
  cursor: pointer;
  border: 1px solid;
  transition: all 400ms ease;
  background-color: #7fe9de;
  font-size: 12px;
  align-content: center;
  gap: 2rem;
}

.btn:hover {
  background-color: rgb(184, 111, 68);
  color: rgb(234, 183, 183);
  border-color: transparent;
}

.btn-2 {
  width: max-content;
  display: inline-block;
  color: rgb(254, 251, 251);
  padding: 0.75rem 1.2rem;
  border-radius: 1.4rem;
  cursor: pointer;
  border: 1px solid;
  transition: all 400ms ease;
  background-color: #8989d8;
  font-size: 12px;
  align-items: center;
}

.Buttons {
  align-content: center;
}

.Pic {
  display: flex;
  justify-content: center;
  border-radius: 45px;
}

.Homi {
  display: flex;
  justify-content: space-around;
  padding: 5px 400px 0 400px;
  margin-top: 20px;
  font-size: 150%;
  align-items: right;
  color: rgb(251, 244, 244);
  /* background-color: rgb(39, 152, 197); */
}

.social {
  margin: 50px;
  padding: 5px 400px 0 400px;
  display: flex;
  justify-content: space-around;
  font-size: 300px;
}
#flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
#social {
  border: 1px solid white;
  width: 300px;
  height: 400px;
  font-size: 20px;
  font-family: poppins, sans-serif;
}
#Education {
  border: 1px solid white;
  width: 300px;
  height: 400px;
}
#Projects {
  border: 1px solid white;
  width: 300px;
  height: 400px;
  font-size: 20px;
  align-items: left;
}
